@charset "UTF-8";
/*Обнулення стилів*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

body {
	background-color: #e1e1e3;
}

.wrapper {
	width: 1280px;
	height: 100%;
	background-color: #ffffff;
	margin: 10px auto;
	padding: 10px;
}
.aside {
	width: 400px;
	height: 100%;
	background-color: #e1e1e3;
}
.aside-img {
}
.aside-img img {
	width: 100%;
}
.aside-info {
}
.aside-info__number {
	background-color: #1b5891;

}
.aside-info__number p {
	color: #ffffff;
	font-size: 25px;
	margin: 0 0 20px 0;
}

.aside-info__number p::before {
	content: url(../img/icons/phone-call.png);
	display: inline-block;
	margin: 0 10px 0 0;
}

.aside-info__website {
	background-color: #256fb8;
}
.aside-info__website p {
	color: #ffffff;
	font-size: 25px;
	margin: 0 0 20px 0;
}
.aside-info__website p::before {
	content: url(../img/icons/phone-call.png);
	display: inline-block;
	margin: 0 10px 0 0;
}
.aside-info__email {
	background-color: #308cd9;
}
.aside-info__email p {
	color: #ffffff;
	font-size: 25px;
	margin: 0 0 20px 0;
}
.aside-info__email p::before {
	content: url(../img/icons/phone-call.png);
	display: inline-block;
	margin: 0 10px 0 0;
}
.aside-personal {
}
.aside-skills {
}
.aside-software {
}
.aside-reference {
}
.aside-title {
}
.aside-name {
}
.main {
}